@import './variables.scss';

@import './about-me-page.module.scss';
@import './contact-page.module.scss';
@import './experience-and-skills-page.module.scss';
@import './homepage.module.scss';
@import './navbar.module.scss';
@import './projects-page.module.scss';

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: $lightGray;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    $celadonGreen,
    $lightNonPhotoBlue,
    $periwinklePurple,
    $mimiPink
  );
}

body {
  color: $pennBlue;
  background-color: $celesteGreen;
}

body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  list-style-type: none;
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $mulberryPink;

  padding: 1rem 2rem;
  background-color: $lavenderPink;

  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &:hover {
    color: $amethystPurple;
    background-color: $periwinklePurple;
    transition: all $defaultTransitionTime;
  }

  &:disabled,
  &:disabled:hover {
    background-color: $gray;
    color: $darkGray;
    cursor: default;
  }
}

input,
textarea {
  font-size: 1rem;
  font-family: '__Syne_1307d5', '__Syne_Fallback_1307d5';

  padding: 0.5rem 1rem;
  background-color: $mintCreamGreen;

  border: 1px solid $lavenderPink;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $pennBlue;

  &:hover {
    color: $skyMagentaPink;
    transition: color $defaultTransitionTime;
  }
}

.container {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  gap: 3rem;

  max-width: 90%;
  min-height: calc(100vh - 8rem);
  min-height: calc(100svh - 8rem);
  margin: 4rem auto;

  .navbar,
  .content {
    background-color: $mintCreamGreen;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .content {
    padding: 3rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

@media (max-width: $tabletBreakpoint) {
  .container {
    grid-template-columns: 1fr;

    .content {
      padding: 1rem;
    }
  }
}

@media (min-width: 769px) {
  .container {
    height: calc(100vh - 8rem);
    height: calc(100svh - 8rem);

    .content {
      overflow-y: scroll;
    }
  }
}
