$warmWhite: #fef6e4;
$coral: #f3d2c1;
$pink: #ce6aad;
$darkPink: #ac568f;
$lightBlue: #8bd3dd;
$darkBlue: #001858;
$lightGray: #e5e7eb;

$moonstoneBlue: #2ca0b5;
$photoBlue: #7bdff2;
$celesteGreen: #b2f7ef;
$mintCreamGreen: #d6f3f0;
$mimiPink: #f7d6e0;
$lavenderPink: #f2b5d4;
$lightLavenderPurple: #cac1eb;
$lavenderPurple: #9f74ca;

$defaultTransitionTime: 600ms;
