$warmWhite: #fef6e4;
$lightGray: #e5e7eb;
$gray: #b8b9bb;
$darkGray: #6d6d6d;

$mintCreamGreen: #ddf0ee;
$celesteGreen: #b2f7ef;
$celadonGreen: #9addbe;

$coral: #f3d2c1;
$mimiPink: #f7d6e0;
$lavenderPink: #f2b5d4;
$tickleMePink: #f582ae;
$skyMagentaPink: #ce6aad;
$mulberryPink: #ac568f;

$lightNonPhotoBlue: #8bd3dd;
$nonPhotoBlue: #7bdff2;
$moonstoneBlue: #2ca0b5;
$pennBlue: #001858;

$periwinklePurple: #cac1eb;
$floralLavenderPurple: #a077c9;
$amethystPurple: #9f74ca;

$defaultTransitionTime: 600ms;

$tabletBreakpoint: 768px;
$laptopBreakpoint: 1024px;
