.projects-page {
  &__project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    justify-items: center;
    text-align: center;

    img {
      max-width: 600px;
      height: 100%;
    }
  }

  &__project:not(last-child) {
    padding-bottom: 2rem;
    border-bottom: 1px solid $mimiPink;
  }
}

@media (max-width: 768px) {
  .projects-page {
    &__project {
      div {
        order: 1;
      }

      img {
        order: -1;
      }
    }
  }
}
